<template name="projects">
	<main>
		<header>
			<h2>
				<a href="/">dkoo.net</a>
				<a href="/blog">blog</a>
			</h2>
		</header>

		<section>
			<figure>
				<a href="#"><img src="http://placehold.it/600x900" alt="Placeholder image"></a>
			</figure><figure>
				<a href="#"><img src="http://placehold.it/600x600" alt="Placeholder image"></a>
			</figure><figure>
				<a href="#"><img src="http://placehold.it/600x600" alt="Placeholder image"></a>
			</figure><figure>
				<a href="#"><img src="http://placehold.it/600x600" alt="Placeholder image"></a>
			</figure><figure>
				<a href="#"><img src="http://placehold.it/600x900" alt="Placeholder image"></a>
			</figure><figure>
				<a href="#"><img src="http://placehold.it/600x600" alt="Placeholder image"></a>
			</figure><figure>
				<a href="#"><img src="http://placehold.it/600x600" alt="Placeholder image"></a>
			</figure><figure>
				<a href="#"><img src="http://placehold.it/600x600" alt="Placeholder image"></a>
			</figure><figure>
				<a href="#"><img src="http://placehold.it/600x900" alt="Placeholder image"></a>
			</figure>
		</section>
		{{#with projects}}
		{{/with}}
	</main>
</template>