<template name="projects">
	{{#if projects}}
		<main class="projects {{#if currentUser}}logged-in{{/if}}">
			<header>
				<h2>
					<a href="/">dkoo.net</a>
					<a href="/blog">blog</a>
				</h2>
			</header>

			<section>
				{{#each projects}}<figure>
					<a href="/projects/{{slug}}"><img src="{{thumb}}" alt="{{title}}"></a>
				</figure>{{/each}}
			</section>

			{{> project}}
		</main>
	{{else}}
		<div class="loading"></div>
	{{/if}}

	{{#if currentUser}}
		<nav id="toolbar">
			<a href="/projects/new" class="new-project">New Project</a>
			<a href="/" class="logout">Log out</a>
		</nav>
	{{/if}}
</template>