<template name="project">
	<article class="{{#if viewingProject}}active{{/if}}">
		<a href="#" class="close">&times;</a>

		<section>
			<figure>
				<img src="http://placehold.it/600x600" alt="Placeholder image">
			</figure>

			<div>
				<h1>Project Name</h1>

				<p>Montes proin ligula ut curae tortor vehicula luctus nisi a at facilisis dictum in diam parturient ullamcorper amet venenatis eget dictum.</p>

				<p>Ullamcorper at parturient cubilia vestibulum porta gravida orci urna adipiscing ac dapibus vehicula adipiscing habitasse dolor curae ultricies suscipit in lobortis eget vestibulum leo consectetur pretium ipsum fusce risus. Aliquet ante scelerisque feugiat pulvinar ullamcorper hac feugiat a a ad a felis rhoncus adipiscing.</p>

				<p>Ipsum nullam scelerisque condimentum phasellus parturient odio risus quisque vestibulum a in vestibulum nunc parturient duis integer a ac volutpat. Senectus a torquent sit himenaeos a nam dis tellus felis elementum laoreet parturient nunc justo blandit cras vestibulum parturient penatibus condimentum nam ullamcorper hac sed a sed ut elit.</p>
			</div>
		</section>
	</article>
</template>