<head>
	<title>dkoo dot net</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<!-- <meta name="description" content="Thought bubbles by Derrick Koo, a Brooklyn-based writer and developer trying to learn new things every day."/> -->

	<!-- Open Graph Meta Tags -->
	<!-- <meta property="og:type" content="website"/>
	<meta property="og:title" content="dkoo dot net"/>
	<meta property="og:description" content="Thought bubbles by Derrick Koo, a Brooklyn-based writer and developer trying to learn new things every day."/>
	<meta property="og:site_name" content="dkoo dot net"/>
	<meta property="og:url" content="http://dkoo.net/"/> -->
	<!-- <meta property="og:image" content=""/> -->

	<!-- Twitter Card Meta Tags -->
	<!-- <meta name="twitter:card" content="Thought bubbles by Derrick Koo, a Brooklyn-based writer and developer trying to learn new things every day."/>
	<meta name="twitter:title" content="dkoo dot net"/>
	<meta name="twitter:description" content="Thought bubbles by Derrick Koo, a Brooklyn-based writer and developer trying to learn new things every day."/>
	<meta name="twitter:image" content="https://gentlenode.com/images/og-image.png"/>
	<meta name="twitter:site" content="@gentlenode"/>
	<meta name="twitter:creator" content="@LeCoupa"/> -->

</head>

<body>
	{{#if loading}}
		<div class="loading"></div>
	{{/if}}

</body>