<template name="blog">
	<section class="blog {{#if singlePost}}post{{/if}}">
		<div class="posts">
			<a class="back" href="/"><i class="fa fa-angle-double-up"></i></a>
			<a class="search" href="#"><i class="fa {{#if searching}}fa-search-minus{{else}}fa-search{{/if}}"></i></a>
			{{#if searching}}{{> search}}{{/if}}

			{{#if posts}}
				{{#each posts}}
					{{> tinypost}}
				{{/each}}
			{{else}}
				<article class="excerpt">
					<p><em>No posts found.</em></p>
				</article>
			{{/if}}

			{{#if more}}<a class="more" href="#">more</a>{{/if}}
		</div>
		
		{{> post}}

		{{#if currentUser}}
			<nav id="toolbar">
				<a href="/blog/new" class="new-post">New Post</a>
				<a href="/" class="logout">Log out</a>
			</nav>
		{{/if}}
	</section>
</template>