<template name="edit">
	<form class="edit-post">
		<header>
			<h2><pre contentEditable data-name="published-date" data-placeholder="MM/DD/YYYY"></pre> at <pre contentEditable data-name="published-time" data-placeholder="12:00 am"></pre></h2>
		</header><div>
			<h1><pre contentEditable data-name="title" data-placeholder="Post title"></pre></h1>
			<section class="content">
				<textarea name="content" placeholder="Post content" value="{{#if content}}{{content}}{{/if}}"></textarea>
			</section>

			{{#if tags}}
				<ul class="tags">
					{{#each tags}}<li><a href="#" class="remove-tag" title="Remove this tag">{{this}} &times;</a></li>{{/each}}
				</ul>
			{{/if}}
			
			{{#if newPost}}
				<textarea class="tags" name="tags" placeholder="Post tags (enter each on own line)"></textarea>
			{{else}}
				<label>Add tag</label>
				<input class="tags" type="text" name="tags" placeholder="Tag"><a href="#" class="add-tag">&plus;</a>
			{{/if}}

			<label>Post summary</label>
			<textarea name="excerpt" placeholder="Post summary (optional)" value="{{#if excerpt}}{{excerpt}}{{/if}}"></textarea>

			<label>Slug</label>
			<input class="slug" name="slug" placeholder="Post slug" value="{{#if slug}}{{slug}}{{/if}}">

			<label>Publish Status</label>
			<select name="visibility">
				<option value="public" selected="{{#if statusIs "public"}}true{{/if}}">Published</option>
				<option value="private" selected="{{#if statusIs "private"}}true{{/if}}">Draft</option>
			</select>
			
			<button class="save">Save</button>
			<button class="cancel">Cancel</button>
		</div>
	</form>
</template>