<!-- post excerpt -->
<template name="tinypost">
	<article class="excerpt">
		<a name="{{_id}}" href="/blog/{{slug}}">
			<header>
				{{#if published}}
					<h2>{{date}}</h2>
				{{/if}}
			</header><div>
				<h1>{{#if private}}<em>Draft:</em> {{/if}}{{title}}</h1>
				{{#markdown}}{{excerpt}}{{/markdown}}

				{{#if tags}}
					<ul class="tags">
						{{#each tags}}<li>{{this}}</li>{{/each}}
					</ul>
				{{/if}}
			</div>
		</a>
		{{#if currentUser}}
			<a href="/edit?post={{_id}}" class="action edit">Edit</a>
			<a href="#" class="action delete">Delete</a>
		{{/if}}
	</article>
</template>