.admin {
	background-color: white;
	height: 100%;
	text-align: center;
	&::after,
	form {
		display: inline-block;
		vertical-align: middle;
	}
	&::after {
		content: '';
		height: 100%;
	}
	form {
		max-width: 80%;
		text-align: left;
		h2 {
			margin-bottom: 1em;
			text-transform: uppercase;
			& + p {
				margin-bottom: 1em;
			}
		}
		label {
			font-family: $display;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.05em;
			margin-top: 1em;
			text-transform: uppercase;
		}
		input {
			margin-bottom: 1em;
		}
		button {
			&:last-of-type {
				margin-bottom: 1em;
			}
		}
		#messages {
			color: indianred;
			font-size: 14px;
			font-style: italic;
			margin-top: 1em;
			i {
				margin-right: 0.5em;
			}
		}
	}
}

@media #{$large} {
	.admin form {
		max-width: 400px;
	}
}