body {
	font-family: $serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25em;
}

a {
	color: #8896AB;
	&:hover {
		color: #C5D5E4;
	}
}

.container {
	height: 100%;
	position: relative;
	section {
		height: 100%;
		h1 {
			font-size: 2em;
			line-height: 1.25em;
			text-transform: uppercase;
		}
	}
}